/* 
 * Random CSS
 * */

:root {
  font-size: 12pt;
}


.menu button {
  background-color: rgb(239, 238, 238);
  color: rgb(3, 3, 3);
  cursor: pointer;
  width: 100%;
}

.menu button#active {
  background-color: #070707;
  color: white;
}

.menu button i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.menu button p {
  font-weight: 600;
  font-size: 1rem;
}

.signout button {
  background-color: inherit;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.gray {
  color: rgb(117, 117, 117);
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.tab-button {
  cursor: pointer;
  padding: 8px 12px;
  text-align: center;
  background-color: #cccccc;
  width: calc(100% / 6);
}

.tab-button.active {
  background-color: #999;
  color: #fff;
}

.TabBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#Requirements form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-group {
  margin-top: 10px;
}

#Survey form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-group {
  margin-top: 10px;
}

.p-3 {
  padding: 3px;
}

.tab h3 {
  margin-top: 0;
  font-size: 1.5rem;
  padding-top: 10px;
}

.tab h4 {
  margin-top: 0;
  font-size: 1.4rem;
  padding: 10px 0;
}

.tab h5 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.tab p,
ul {
  font-size: 1.1rem;
  line-height: 1.5;
}

.tab {
  padding-top: 10px;
}

/* .fs-6 { */
/*   font-size: 1.2rem; */
/* } */

.btn {
  border: 0;
  padding: 6px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-primary {
  color: white;
  background-color: #007bff;
}

.btn-secondary {
  color: white;
  background-color: #6c757d;
}

.btn-danger {
  color: white;
  background-color: #dc3545;
}

.btn-warning {
  background-color: #ffc107;
}

.btn-success {
  color: white;
  background-color: #28a745;
}

.p-3 {
  padding: 3px;
}

.mb-3 {
  margin-bottom: 3px;
}

.Autoform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

.Autoform .form-label {
  font-size: 1rem;
  margin-right: 8px;
}

.Autoform .form-control {
  padding: 5px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
}

.Autoform .form-control:focus {
  border: 1px solid #007bff;
}

.Autoform .form-control::placeholder {
  color: #ccc;
}

.Autoform .input-group {
  display: flex;
  flex-direction: row;
}

.Autoform .input-group .input-group-text {
  background-color: #ccc;
  border: 1px solid #c1c1c1;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

.toggle {
  /* default styles for the toggle */
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle:has(input:checked) {
  /* styles for the toggle when the checkbox is checked */
  background-color: #333;
  color: #fff;
}

.toggle:has(input:checked) {
  /* styles for the toggle when the checkbox is checked */
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ClimbUI select,
.ClimbUI input[type="text"] {
  position: relative;
  display: block;
  width: 100%;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #7790CA;
  outline: #4C50AF solid 1px;
  border: 1rem;
}

/* add stuff here lol */

.red::before,
.red {
  color: red;
}

.orange::before,
.orange {
  color: orange;
}

.yellow::before,
.yellow {
  color: yellow;
}

.green::before,
.green {
  color: green;
}

.blue::before,
.blue {
  color: blue;
}

.violet::before,
.violet {
  color: violet;
}
